@charset "UTF-8";

h1 {
    color: white;
    text-align: center;
}

body {
    background-color: gray;
}

input {
    text-align: center;
}

.input_box {
    text-align: center;
}

.text_right {
    text-align: left;
}

br {
    display: block;
    content: "";
    margin-top: 5px;
}

p {
    color: darkred;
}

ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

ul li {
    color: rgb(238, 196, 58);
}

ul li:hover {
    color: rgb(231, 62, 20);
    background-color: rgb(194, 194, 194);
    cursor: default;
}

.table {
    margin: auto;
    width: 25%;
    height: 256px;
    overflow-y: scroll;
    overflow: auto;
    text-align: left;
    border-style: double;
    background-color: rgba(100, 100, 100);
}

.photo {
    margin: auto;
    width: 256px;
    height: 256px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-style: solid;
}