<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='scripts.js')}}"></script>
        <title>Security Camera</title>
    </head>
    <body onload="init_listeners()">
        <div class="text_right">
            Username: {{ user }}<br>Email: {{ email }}<br>
            <form action="/logout">
                <input type="submit" value="Log Out"/>
            </form>
        </div>
        <h1>Security Alarms</h1><br><br>
        <div class="table">
            <ul id="photolist"></ul>
        </div>
        <div id="photo_info" style="display: none;">
            <div style="text-align: center;">
                <br><b id="timestamp"></b><br>
                <input type="button" value="remove photo" onclick="remove_photo()"/><br>
            </div>
            <div class="photo">
                <img id="photo_img"/>
            </div>
        </div>
    </body>
</html>